* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

header, main, footer {
    padding: 1rem;
}

header, footer {
    background-color: rgb(135, 245, 245);
    text-align: center;
}

footer {
    font-weight: bold;
}

main {
    font-size: 20px;
    padding-left: 7rem;
    padding-right: 7rem;
    text-align: justify;
}

img {
    border-radius: 20px;
}

p {
    margin: 1rem;
}

div {
    text-align: center;
}

.moral {
    text-align: center;
    font-weight: bold;
}